#grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0px 0px;
}

#grid-header {
    grid-column: 1 / 4;
    height: 25vh;
    background-color: #3C3C3E;
}

#grid-aside-left {
    grid-row: 2 / 4;
    width: 10vw;
    background-color: lightgrey;
}

#grid-center {
    grid-area: 2 / 2 / 3 / 3; 
    height: 65vh;
    width: 80vw;
}

#grid-aside-right {
    grid-row: 2 / 4;
    width: 10vw;
    background-color: lightgrey;
}

#grid-footer {
    grid-column: 2 / 3;
    height: 10vh;
    background-color: #28282A;
}